* {
    margin: 0 !important;
    padding: 0 !important;
    text-decoration: none;
    list-style-type: none;
    font-size: 1.08em;
}

@font-face {
    font-family: 'batesin';
    src: url('../res/fonts/bBatesin.ttf');
}

@font-face {
    font-family: 'champagne';
    src: url('../res/fonts/Champagne\ &\ Limousines.ttf');
}

p {
    color: var(--font-color);
    font-family: 'champagne';
    font-size: 0.8em;
}

h1,
h2,
h3,
h4 {
    font-family: 'batesin';
}

body {
    overflow-x: hidden;
    background-color: var(--background-color);
}

:root {
    --background-color: #aafeff;

    --font-color: #000000;

    --primary-color: #008cff;
    --accent-color: #007d8b;
    --secondary-color: #009514;

    --shade-soft: #ffffff88;

    --marginMainItems: 10vh;
}

/*MAIN SCHEME*/

.container {
    width: 100%;
    max-width: 4000px;
}

.container>.row>.col-6 {
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

.container>.row>.col {
    width: 100% !important;
}

/*NAVIGATION*/

.row>.col>.navbar {
    position: fixed;
    z-index: 10;
    height: 100%;
    width: 18%;
}

.navbar-nav {
    flex-direction: column !important;

}

.navbar>.container-fluid {
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--background-color);
    height: 100%;
}

.navbar>.container-fluid>.container>.navbar-brand>.logoimg {
    width: 100%;
    max-width: 600px;
    margin-bottom: 10ex !important;
}

.nav-item{
    margin-top: 20px !important;
}

/*LAKES CONTENT*/

.mainbody>h1 {
    position: absolute;
    right: 0;
    top: 10%;
    font-size: 3em;
    background-color: var(--shade-soft);
    height: 0.9em;
    border-radius: 10px 0 0 10px;
}

.mainbody {
    height: 100vh;
    margin-bottom: 10vh;
}

.introsection>.lakesinfodiv {
    display: flex;
    padding: 5vh !important;
    gap: 2rem;
}

.introsection>.lakesinfodiv>div {
    width: 50%;
    text-align: left;
    font-size: 1.4em;
}

.introsection>.lakesinfodiv>.imgdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.introsection>.lakesinfodiv>.imgdiv>img {
    width: 100%;
}

.background {
    object-fit: cover;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.lakessection {
    margin-top: 100px !important;
}

.lakesbody {
    height: 100vh;
}

.lakesbody>.txtcontainer {
    position: absolute;
}

.lakesbody>.txtcontainer>h2 {
    background-color: var(--shade-soft);
    width: fit-content;
    border-radius: 10px;
}

.lakesbody>.txtcontainer>.descriptioncontainer {
    background-color: var(--shade-soft);
    width: 40vw;
    height: 0;
    text-align: justify;
    overflow: hidden;
    border-radius: 25px;
}

.lakesbody>.txtcontainer:hover .descriptioncontainer {
    height: fit-content
}

.lakesbody>.txtcontainer>.descriptioncontainer>p {
    margin: 5px !important;
}

/*LAKES SECTIONS*/

section>.lakeinfo>.comollegardiv {
    position: relative;
}

section>.lakeinfo>.comollegardiv>iframe {
    width: 100%;
    height: 15vh;
}

/*TRAVELS*/

.vuelosdiv {
    width: 100%;
}

.vuelos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
    width: 100%;
}

.vuelos>ul {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    gap: 5rem;
    overflow-x: auto;
}



.vuelos>ul>a>li>div {
    position: relative;
}

.vuelos>ul>a>li>div>img {
    width: 120px;
    height: 120px;
}

.vuelos>ul>a>li>div>p {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--shade-soft);
    font-weight: 500;
    text-align: center;
    font-size: 0.4em;
    transition: 0.4s;
}

.vuelos>ul>a:hover div>p{
    font-size: 0.5em;

}

/*HOTELS*/
.hotelsdiv {
    display: flex;
    justify-content: center;
}

.hotelsdiv>ul {
    display: inline-flex;
    gap: 5rem;
    overflow: auto;
}

.hotelsdiv>ul>a>li>div {
    position: relative;
}

.hotelsdiv>ul>a>li>div>img {
    width: 120px;
    height: 120px;
}

.hotelsdiv>ul>a>li>div>p {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--shade-soft);
    text-align: center;
    font-size: 0.4em;
    transition: 0.4s;
    font-weight: 400;
}

.hotelsdiv>ul>a:hover div>p{
    font-size: 0.5em;

}

/*FOOTER*/

footer {
    display: flex;
    justify-content:space-around;
    font-size: 0.8em;
    margin-top: 7ex !important;
}

footer>div>h6 {
    font-family: 'champagne';
    font-size: 1.4em;
}

footer>div>ul>a>li {
    display: flex;
    align-items: center;
}

footer>div>ul>a>li>img {
    width: 30px;
    height: 30px;
}

/*RESPONSIVE*/

@media only screen and (max-width: 990px) {
    * {
        font-size: 1em;
    }

    p {
        font-size: 0.6em;
    }

    .vuelos>ul>a>li>div>p {
        font-size: 0.3em;
    }

    .hotelsdiv>ul>a>li>div>p {
        font-size: 0.3em;
    }

    .introsection>.lakesinfodiv>div {
        font-size: 1.2em;
    }

    .mainbody>h1 {
        font-size: 2em;
    }

    footer>div>h6 {
        font-size: 1.2em;
    }

    footer {
        font-size: 0.7em;
    }
}